pre {
	height: 300px;
	overflow: auto;
	border: solid grey 2px;
	margin-bottom: 0;
/*	background-color: #eeeeee;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: pre !important;*/
}

footer {
	background-color: lightgray;
	position: absolute;
	bottom: 0;
}

#textArea {
	height: 300px;
}
